{% extends 'base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock title %}

{% block content %}


    <div class="ui container" style="background-color:white">
      
    
        <div class="ui huge header">Fotograf Galeri</div>
   

  

        <br>
      <!-- Container for the image gallery -->
      <!-- Images used to open the lightbox -->
      <!-- Fotolarin disdan gorunumu -->
<div class="row">
    <div class="column">
      <img  src="{% static 'images/album/scatterPlot/s1.png' %}" onclick="openModal();currentSlide(1)" class="hover-shadow">
      <div>Sokağa çıkma yasağı olan günlere göre vefat</div>
    </div>
    <div class="column">
      <img src="{% static 'images/album/scatterPlot/s2.png' %}" onclick="openModal();currentSlide(2)" class="hover-shadow">
      <div>Sokağa çıkma yasağı olan günlere göre vaka</div>
    </div>
    <div class="column">
      <img src="{% static 'images/album/scatterPlot/s3.png' %}"  onclick="openModal();currentSlide(3)" class="hover-shadow">
      <div>Sokağa çıkma yasağı olan günlere göre Test-Vefat ilişkisi</div>
    </div>
    <div class="column">
      <img src="{% static 'images/album/scatterPlot/s4.png' %}"  onclick="openModal();currentSlide(4)" class="hover-shadow">
      <div>Sokağa çıkma yasağı olan günlere göre Ağır Hasta-Vefat ilişkisi</div>
    </div>
    <div class="column">
    <img src="{% static 'images/album/linePlot/l1.png' %}"  onclick="openModal();currentSlide(5)" class="hover-shadow">
    <div>Sokağa çıkma yasağı olan günlere göre hasta durumu</div>
    </div>
    <div class="column">
    <img src="{% static 'images/album/linePlot/l2.png' %}"   onclick="openModal();currentSlide(6)" class="hover-shadow">
    <div>Sokağa çıkma yasağı olan günlere göre iyileşme durumu</div>
    </div>
    <div class="column">
    <img src="{% static 'images/album/linePlot/l3.png' %}"   onclick="openModal();currentSlide(7)" class="hover-shadow">
    <div>Sokağa çıkma yasağı olan günlere göre hastalarda zatüre oranı</div>
    </div>
    <div class="column">
    <img src="{% static 'images/album/linePlot/l4.png' %}"   onclick="openModal();currentSlide(8)" class="hover-shadow">
    <div>Sokağa çıkma yasağı olan günlere göre ağır hasta durumu</div>
    </div>
    <div class="column">
    <img src="{% static 'images/album/catPlot/c1.png' %}"  onclick="openModal();currentSlide(9)" class="hover-shadow">
    <div>Sokağa çıkma yasağı olan günlere göre vefat durumu</div>
    </div>
    <div class="column">
    <img src="{% static 'images/album/catPlot/c2.png' %}"   onclick="openModal();currentSlide(10)" class="hover-shadow">
    <div>Sokağa çıkma yasağı olan günlere göre test durumu</div>
    </div>
    <div class="column">
    <img src="{% static 'images/album/catPlot/c3.png' %}"   onclick="openModal();currentSlide(10)" class="hover-shadow">
    <div>Sokağa çıkma yasağı olan günlere göre vaka durumu</div>
    </div>
    <div class="column">
    <img src="{% static 'images/album/catPlot/c4.png' %}"   onclick="openModal();currentSlide(12)" class="hover-shadow">
    <div>Sokağa çıkma yasağı olan günlere göre Hasta durumu</div>
    </div>
    <div class="column">
    <img src="{% static 'images/album/catPlot/v1.png' %}"  onclick="openModal();currentSlide(13)" class="hover-shadow">
    <div>Sokağa çıkma yasağı olan günlere göre vefat durumu</div>
    </div>
    <div class="column">
    <img src="{% static 'images/album/catPlot/v2.png' %}"   onclick="openModal();currentSlide(14)" class="hover-shadow">
    <div>Sokağa çıkma yasağı olan günlere göre test durumu</div>
    </div>
    <div class="column">
    <img src="{% static 'images/album/catPlot/v3.png' %}"   onclick="openModal();currentSlide(15)" class="hover-shadow">
    <div>Sokağa çıkma yasağı olan günlere göre vaka durumu</div>
    </div>
    <div class="column">
    <img src="{% static 'images/album/catPlot/v4.png' %}"   onclick="openModal();currentSlide(16)" class="hover-shadow">
    <div>Sokağa çıkma yasağı olan günlere göre Hasta durumu</div>
    </div>
  

  </div>
  
  <!-- The Modal/Lightbox -->
  <div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
  
      <div class="mySlides">
        <div class="numbertext">1 / 16</div>
        <img  class="slideLength" src="{% static 'images/album/scatterPlot/s1.png' %}" style="width:100%">
      </div>
  
      <div class="mySlides">
        <div class="numbertext">2 / 16</div>
        <img class="slideLength" src="{% static 'images/album/scatterPlot/s2.png' %}" style="width:100%">
      </div>
  
      <div class="mySlides">
        <div class="numbertext">3 / 16</div>
        <img class="slideLength" src="{% static 'images/album/scatterPlot/s3.png' %}" style="width:100%">
      </div>
  
      <div class="mySlides">
        <div class="numbertext">4 / 16</div>
        <img class="slideLength" src="{% static 'images/album/scatterPlot/s4.png' %}" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">5 / 16</div>
        <img class="slideLength" src="{% static 'images/album/linePlot/l1.png' %}" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">6 / 16</div>
        <img class="slideLength" src="{% static 'images/album/linePlot/l2.png' %}" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">7 / 16</div>
        <img class="slideLength" src="{% static 'images/album/linePlot/l3.png' %}" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">8 / 16</div>
        <img class="slideLength" src="{% static 'images/album/linePlot/l4.png' %}" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">9 / 16</div>
        <img class="slideLength" src="{% static 'images/album/catPlot/c1.png' %}" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">10 / 16</div>
        <img class="slideLength" src="{% static 'images/album/catPlot/c2.png' %}" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">11 / 16</div>
        <img class="slideLength" src="{% static 'images/album/catPlot/c3.png' %}" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">12 / 16</div>
        <img class="slideLength" src="{% static 'images/album/catPlot/c4.png' %}" style="width:100%">
      </div>
      <div class="mySlides">
        <div class="numbertext">13 / 16</div>
        <img class="slideLength" src="{% static 'images/album/catPlot/v1.png' %}" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">14 / 16</div>
        <img class="slideLength" src="{% static 'images/album/catPlot/v2.png' %}" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">15 / 16</div>
        <img class="slideLength" src="{% static 'images/album/catPlot/v3.png' %}" style="width:100%">
      </div>

      <div class="mySlides">
        <div class="numbertext">16 / 16</div>
        <img class="slideLength" src="{% static 'images/album/catPlot/v4.png' %}" style="width:100%">
      </div>

  
      <!-- Next/previous controls -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
  
      <!-- Caption text -->
      <div class="caption-container">
        <p id="caption"></p>
      </div>
     
      <!-- Thumbnail image controls -->
      <!-- Burasi halloldu -->
      <div class="column2" >
        <img class="demo" src="{% static 'images/album/scatterPlot/s1.png' %}"  onclick="currentSlide(1)" alt="Sokağa çıkma yasağı olan günlere göre vefat">
      </div>
  
      <div class="column2">
        <img class="demo" src="{% static 'images/album/scatterPlot/s2.png' %}"   onclick="currentSlide(2)" alt="Sokağa çıkma yasağı olan günlere göre vaka">
      </div>
  
      <div class="column2">
        <img class="demo" src="{% static 'images/album/scatterPlot/s3.png' %}" onclick="currentSlide(3)" alt="Sokağa çıkma yasağı olan günlere göre Test-Vefat ilişkisi">
      </div>
  
      <div class="column2">
        <img class="demo" src="{% static 'images/album/scatterPlot/s4.png' %}" onclick="currentSlide(4)" alt="Sokağa çıkma yasağı olan günlere göre Ağır Hasta-Vefat ilişkisi">
      </div>
      <div class="column2">
        <img class="demo" src="{% static 'images/album/linePlot/l1.png' %}"  onclick="currentSlide(5)" alt="Sokağa çıkma yasağı olan günlere göre hasta durumu">
      </div>
  
      <div class="column2">
        <img class="demo" src="{% static 'images/album/linePlot/l2.png' %}" onclick="currentSlide(6)" alt="Sokağa çıkma yasağı olan günlere göre iyileşme durumu">
      </div>
  
      <div class="column2">
        <img class="demo" src="{% static 'images/album/linePlot/l3.png' %}"  onclick="currentSlide(7)" alt="Sokağa çıkma yasağı olan günlere göre hastalarda zatüre oranı">
      </div>
  
      <div class="column2">
        <img class="demo" src="{% static 'images/album/linePlot/l4.png' %}"  onclick="currentSlide(8)" alt="Sokağa çıkma yasağı olan günlere göre ağır hasta durumu">
      </div>
      <div class="column2">
        <img class="demo" src="{% static 'images/album/catPlot/c1.png' %}"  onclick="currentSlide(9)" alt="Sokağa çıkma yasağı olan günlere göre vefat durumu">
      </div>
  
      <div class="column2">
        <img class="demo" src="{% static 'images/album/catPlot/c2.png' %}" onclick="currentSlide(10)" alt="Sokağa çıkma yasağı olan günlere göre test durumu">
      </div>
  
      <div class="column2">
        <img class="demo" src="{% static 'images/album/catPlot/c3.png' %}"  onclick="currentSlide(11)" alt="Sokağa çıkma yasağı olan günlere göre vaka durumu">
      </div>
  
      <div class="column2">
        <img class="demo" src="{% static 'images/album/catPlot/c4.png' %}"  onclick="currentSlide(12)" alt="Sokağa çıkma yasağı olan günlere göre Hasta durumu">
      </div>
      <div class="column2">
        <img class="demo" src="{% static 'images/album/catPlot/v1.png' %}"  onclick="currentSlide(13)" alt="Sokağa çıkma yasağı olan günlere göre vefat durumu">
      </div>
  
      <div class="column2">
        <img class="demo" src="{% static 'images/album/catPlot/v2.png' %}" onclick="currentSlide(14)" alt="Sokağa çıkma yasağı olan günlere göre test durumu">
      </div>
  
      <div class="column2">
        <img class="demo" src="{% static 'images/album/catPlot/v3.png' %}"  onclick="currentSlide(15)" alt="Sokağa çıkma yasağı olan günlere göre vaka durumu">
      </div>
  
      <div class="column2">
        <img class="demo" src="{% static 'images/album/catPlot/v4.png' %}"  onclick="currentSlide(16)" alt="Sokağa çıkma yasağı olan günlere göre Hasta durumu">
      </div>

    </div>
  </div>
     
      <br> <br>
      <br> <br>
    

    
  </div>
  
   
   
    
   

        
        
  



<style>



.row > .column {
    padding: 0 8px;
    margin-bottom: 5px;
    margin-top: 3px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}
.column2 {
  float: left;
  width: 20%;
  
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.slideLength{
    height: 550px;

}

img.demo {
  opacity: 0.6;
  padding: 1px;
  height: 180px;
  width: 240px;
 /* height: 180px;
  width: 240px; 
  4 tane olursa */
 
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
  height: 243px;
  width: 271px;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



</style>



<script>
// Open the Modal
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}

</script>


{% endblock content %}